@inject IReceptService ReceptService
@using ReceptiApp.Shared

<ul class="list-unstyled">
	@foreach(var recept in CategoryId == null ? ReceptService.Recepti : ReceptService.Recepti.Where(r => r.Idkategorije == CategoryId))
	{
		<li class="media my-3">
			<div class="media-all">
				<div class="media-img-wrapper mr-2">
					<a href="/recept/@recept.Id">
						<img class="media-img" src="@recept.Img" alt="@recept.Name"/>
					</a>
				</div>
				<div class="media-body">
					<a href="/recept/@recept.Id">
						<h4 class="mb-0">@recept.Name</h4>
					</a>
					<h5>@recept.Sastojci</h5>
					<p>@recept.KratkiOpis</p>
					<h6>@recept.Vege</h6>
				</div>
			</div>
		</li>
	}
</ul>
@code {
	[Parameter]
	public long? CategoryId { get; set; } = null;
	protected override void OnInitialized()
	{
		ReceptService.LoadRecepti();
	}
}
